In [10]:
h=4
for row in range(1,h+1):
  for col in range(1, row+1):
   print("*",end='')
  print()

*
**
***
****

In [13]:
h=4
for row in range(1,h+1):
  for col in range(1, row+1):
    print(chr(row+64),end = '')
  print()

A
BB
CCC
DDDD

day 1 exercise

In [9]:
h=5
for row in range(1,h+1):
 for col in range (1,h+1):
    print(row,end ='')
 print()

11111
22222
33333
44444
55555

In [10]:
h=5
for row in range(1,h+1):
  for col in range(1,h+1):
    print(col,end='')
  print()

12345
12345
12345
12345
12345

In [12]:
h=5
for row in range(1,h+1):
  for col in range(1,h+1):
    print(chr(row+64),end='')
  print()

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [13]:
h=5
for row in range(1,h+1):
  for col in range(1,h+1):
    print(chr(col+64),end='')
  print()

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [15]:
h=5
for row in range(h,0,-1):
  for col in range(h,0,-1):
    print(chr(col+64),end='')
  print()

EDCBA
EDCBA
EDCBA
EDCBA
EDCBA

In [18]:
h=5
for row in range(h,0,-1):
  for col in range(h,0,-1):
    print(chr(row+64),end='')
  print()

EEEEE
DDDDD
CCCCC
BBBBB
AAAAA

In [20]:
h=5
for row in range(h,0,-1):
  for col in range(h,0,-1):
    print(row,end='')
  print()

55555
44444
33333
22222
11111

In [21]:
h=5
for row in range(h,0,-1):
  for col in range(h,0,-1):
    print(col,end='')
  print()

54321
54321
54321
54321
54321

day 2 exercise

In [22]:
h=5
for row in range(1,h+1):
  for col in range(1,row+1):
    print(row,end='')
  print()

1
22
333
4444
55555

In [23]:
h=5
for row in range(1,h+1):
  for col in range(1,row+1):
    print(col,end='')
  print()

1
12
123
1234
12345

In [30]:
h=5
for row in range(1,h+1):
  for col in range(1,row+1):
    print(chr(row+64),end='')
  print()

A
BB
CCC
DDDD
EEEEE

In [31]:
h=5
for row in range(1,h+1):
  for col in range(1,row+1):
    print(chr(col+64),end='')
  print()

A
AB
ABC
ABCD
ABCDE

In [33]:
h=5
for row in range(h,0,-1):
  for col in range(h,0,-1):
    print(row+64,end='')
  print()

6969696969
6868686868
6767676767
6666666666
6565656565

In [34]:
h=5
for row in range(h,0,-1):
  for col in range(row,0,-1):
    print(row+64,end='')
  print()

6969696969
68686868
676767
6666
65

In [36]:
h=5
for row in range(h,0,-1):
  for col in range(row,0,-1):
    print(row,end='')
  print()

55555
4444
333
22
1

In [42]:
h=6
for row in range(h,0,-1):
  for col in range(row,0,-1):
    print(col,end='')
  print()

654321
54321
4321
321
21
1

In [44]:
h=5
for row in range(h,0,-1):
  for col in range(row,0,-1):
    print("@#&%",end='')
  print()

@#&%@#&%@#&%@#&%@#&%
@#&%@#&%@#&%@#&%
@#&%@#&%@#&%
@#&%@#&%
@#&%

In [2]:
h=6
for row in range(h,0,-1):
  for col in range(row,0,-1):
    print(chr(row+64),end='')
  print()

FFFFFF
EEEEE
DDDD
CCC
BB
A

In [3]:
h=6
for row in range(h,0,-1):
  for col in range(row,0,-1):
    print(chr(col+64),end='')
  print()

FEDCBA
EDCBA
DCBA
CBA
BA
A

In [4]:
h=6
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(chr(col+64),end='')
  print()

ABCDEF
ABCDE
ABCD
ABC
AB
A

In [9]:
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(chr(col+64),end='')
  print()
for row in range(2,h+1):
      for col in range(1,row+1):
        print(chr(col+64),end='')
      print()

ABCDEF
ABCDE
ABCD
ABC
AB
A
AB
ABC
ABCD
ABCDE
ABCDEF